# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
env/
venv/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# CatBoost temporary info
catboost_info
